nav#header
  i.bx.bx-menu(data-id='0')
  form#search-form(action="")
    .form-input
      input(type='search' placeholder='Search...')
      button.search-btn(type='submit')
        i.bx.bx-search
  a.profile(href='#')
    img#account-img(src='./assets/images/user.png')