section#footer 
    .footer-left 
        ul.footer-list 
            li.footer-item 
                a.footer-link(href="/") 
                    img(src="../img/logo-no-text.png" alt="")
            li.footer-item
                a.footer-link(href="/")
                    i.bx.bxl-tiktok 
            li.footer-item
                a.footer-link(href="/")
                    i.bx.bxl-instagram
            li.footer-item
                a.footer-link(href="/")
                    i.bx.bxl-facebook
            li.footer-item
                a.footer-link(href="/")
                    i.bx.bxl-twitter
    .footer-right
        a.footer-link(href="/") © Copyright 2024: Cowards Team
