nav#header
  i.bx.bx-menu#menu-btn(data-id='0')
  //- form#main-search-form(action="")
  //-   input(type='search' name="keyword" placeholder='Search...')
  //-   button.search-btn(type='submit')
  //-     i.bx.bx-search
  a#profile-link(href='/profile')
    p#profile-name
    img#profile-img(src='/img/user.png')