<div class="card">
  <a class="product-block" href="/"
    ><div class="card-img img">
      <img src="../img/artwork-demo.jpg" alt="" />
    </div>
    <div class="product-info">
      <div class="premium-tag"><img src="../img/cta.png" alt="" /></div>
      <button class="favor-btn" data-id="${artwork.artworkId}">
        <i class="bx bx-archive-in">Favor</i>
      </button>
      <p class="product-bottom">artwork</p>
    </div></a
  >
  <div class="creator-block">
    <a class="creator-link" href="#">hvannn</a>
    <div class="reaction">
      <i class="bx bxs-heart"></i>
      <p class="reaction-count">100</p>
    </div>
  </div>
</div>
