<div class="card">
  <a class="product-block" href="/"
    ><div class="card-img img">
      <img src="../img/artwork-demo.jpg" alt="" />
    </div>
    <div class="product-info">
      <div class="premium-tag"><img src="../img/cta.png" alt="" /></div>
      <button class="favor-btn" data-id="${artwork.artworkId}">
        <i class="bx bx-archive-in">Favor</i>
      </button>
      <p class="product-bottom">artwork</p>
    </div></a
  >
  <div class="creator-block">
    <a class="creator-link" href="#">hvannn</a>
    <div class="reaction">
      <i class="bx bxs-heart"></i>
      <p class="reaction-count">100</p>
    </div>
  </div>
</div>

<div class="comment-block">
  <p id="description">
    <a class="commenter-name" href="">hdiuu</a>Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Corporis facilis culpa nisi earum suscipit
    eligendi magnam saepe vel quas totam, dolor, veritatis odio dicta commodi
    aliquam! Repudiandae odio alias nemo?
  </p>
  <p class="comment-time">21-11-2023</p>
</div>

<tr>
  <form action="">
    <td><input type="text" name="id" value="${val}" readonly="" /></td>
    <td><input type="text" name="name" value="hvann" /></td>
    <td>
      <input type="text" name="email" value="mail@example.com" readonly="" />
    </td>
    <td><input type="text" name="phone" value="0123456789" /></td>
    <td><input type="text" name="address" value="Phnom Penh" /></td>
    <td><input type="text" name="role" value="Admin" readonly="" /></td>
    <td>Active</td>
    <td>
      <button class="edit" name="action" value="edit">
        <i class="bx bx-edit"></i></button
      ><button class="delete" name="action" value="remove">
        <i class="bx bx-trash"></i></button
      ><button class="ban" name="action" value="block">
        <i class="bx bx-block"></i>
      </button>
    </td>
  </form>
</tr>

<tr>
  <td class="img"><img src="../img/artwork-demo.jpg" alt="artwork" /></td>
  <td><p>Artwork 1</p></td>
  <td class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </td>
  <td><p>Free</p></td>
  <td><p>Public</p></td>
  <td>
    <form action="">
      <input type="text" name="id" value="1" hidden="" />
      <button type="submit">
        <i class="bx bx-trash"></i>
      </button>
    </form>
  </td>
</tr>

<div class="cart-item-block">
  <div class="cart-item-img img">
    <img src="../img/artwork-demo.jpg" alt="" />
  </div>
  <div class="cart-item-info">
    <div class="cart-item-title"><h3>Artwork Title</h3></div>
    <div class="cart-item-price"><p>$20</p></div>
    <div class="cart-item-remove">
      <button><i class="bx bx-trash"></i></button>
    </div>
  </div>
</div>

<div class="billing-item">
  <p class="artwork-name">Artwork Name</p>
  <p class="artwork-price">$60</p>
</div>
