section#sidebar
  a.brand(href='./')
    img#sidebar-img(src='../img/logo-no-text.png' alt='')
  ul.side-menu.top
    li#index
      a(href='/')
        i.bx.bxs-home
        span.text Home
    li#dashboard
      a(href='./dashboard')
        i.bx.bxs-dashboard
        span.text Dashboard
    li#artwork
      a(href='./artwork')
        i.bx.bx-globe
        span.text Discover
    li#request
      a(href='/request')
        i.bx.bxs-envelope
        span.text Request
    li#cart
      a(href='./cart')
        i.bx.bxs-cart-alt
        span.text Cart
    li#notification
      a(href='./notification')
        i.bx.bxs-bell
        span.text Notification
    li#account
      a(href='./account')
        i.bx.bxs-group
        span.text Account
    li#contact
      a(href='./contact')
        i.bx.bxs-contact
        span.text Contact Us
    li#about
      a(href='./about')
        i.bx.bxs-info-circle
        span.text About Us
    li#login
      a.login(href='login')
        i.bx.bxs-log-in-circle
        span.text Login
    li#logout
      a.logout(href='logout')
        i.bx.bxs-log-out-circle
        span.text Logout
