section#sidebar
  a.brand(href='./')
    img#sidebar-img(src='../img/logo-no-text.png' alt='')
  ul.side-menu.top
    li#index
      a(href='/home')
        i.bx.bx-home-alt-2
        span.text Home
    li#dashboard
      a(href='./dashboard')
        i.bx.bx-bar-chart-alt-2
        span.text Dashboard
    li#account
      a(href='./account')
        i.bx.bx-group
        span.text Account
    li#artwork
      a(href='./artworks')
        i.bx.bx-palette
        span.text Account
    li#artwork
      a(href='./discover')
        i.bx.bx-globe
        span.text Discover
    li#request
      a(href='/request')
        i.bx.bx-envelope
        span.text Request
    li#notification
      a(href='./notification')
        i.bx.bx-bell
        span.text Notification
    li#contact
      a(href='./contact')
        i.bx.bx-phone
        span.text Contact Us
    li#about
      a(href='./about')
        i.bx.bx-info-circle
        span.text About Us
    li#login
      a.login(href='login')
        i.bx.bx-log-in-circle
        span.text Login
    li#logout
      a.logout(href='logout')
        i.bx.bx-log-out-circle
        span.text Logout
