#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: 0.3s ease;

    &.hide ~ #content {
        width: calc(100% - 60px);
        left: 60px;
    }

    nav {
        height: 56px;
        background: $white;
        padding: 0 24px;
        display: flex;
        align-items: center;
        grid-gap: 24px;
        font-family: $poppins;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: -40px;
            left: 0;
            border-radius: 50%;
            box-shadow: -20px -20px 0 $white;
        }

        a {
            color: $black;
        }

        .bx.bx-menu {
            cursor: pointer;
            color: $black;
        }

        .nav-link {
            font-size: 16px;
            transition: 0.3s ease;

            &:hover {
                color: $blue;
            }
        }

        form {
            margin: 0 auto;
            max-width: 400px;
            width: 100%;
            margin-right: auto;

            .form-input {
                display: flex;
                align-items: center;
                height: 36px;

                input {
                    flex-grow: 1;
                    padding: 0 16px;
                    height: 100%;
                    border: none;
                    background: $grey;
                    border-radius: 36px 0 0 36px;
                    outline: none;
                    width: 100%;
                    color: $black;
                }

                button {
                    width: 36px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $grey;
                    color: $black;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-radius: 0 36px 36px 0;
                    cursor: pointer;
                }
            }
        }

        .profile img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}