doctype html
head
    meta(charset='UTF-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1' name='viewport')
    meta(content='Page description' name='description')
    meta(name='google' content='notranslate')
    meta(name='msapplication-tap-highlight' content='no')
    link(rel="icon" type="image/x-icon" href="../img/logo-no-text.png")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    title Account Manager
body 
    include ./layout/sidebar.layout.pug
    section#content
        include ./layout/header.layout.pug
        main#account-manage 
            .container 
                form#account-search(action="")
                    input(type="text" placeholder="Search Account")
                    button(type="submit")
                        i.bx.bx-search-alt-2
                .account-table
                    table 
                        thead
                            tr
                                th Id
                                th Name
                                th Email
                                th Phone
                                th Address
                                th Role
                                th Status
                                th Action
                        tbody.users-data


        include ./layout/footer.layout.pug

    script(src="../js/style-sidebar.js") 
    script(src="../bundle.js") 
    script(type="module" src="../js/account.js") 