doctype html
head
    meta(charset='UTF-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1' name='viewport')
    meta(content='Page description' name='description')
    meta(name='google' content='notranslate')
    meta(name='msapplication-tap-highlight' content='no')
    link(rel="icon" type="image/x-icon" href="/img/logo-no-text.png")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    title Homepage
body 
    include ./layout/sidebar.layout.pug
    section#content
        include ./layout/header.layout.pug
        main#artworkdetail
            .artwork-block
                .artwork-popup
                    .popup-block
                        button.popup-close
                            i.bx.bx-x
                        .artwork-popup-top 
                            input#link-to-artwork(type='text' value='http://localhost:3000/artwork/1' readonly)
                            button#link-copy
                                i.bx.bx-copy
                        .artwork-popup-bottom
                            a.popup-share-btn#share-to-fb-btn(href='' target='_blank')
                                i.bx.bxl-facebook
                            a.popup-share-btn#share-to-twitter-btn(href='' target='_blank')
                                i.bx.bxl-twitter
                            a.popup-share-btn#share-to-instagram-btn(href='' target='_blank')
                                i.bx.bxl-instagram
                            a.popup-share-btn#share-to-pinterest-btn(href='' target='_blank')
                                i.bx.bxl-pinterest
                            a.popup-share-btn#share-to-telegram-btn(href='' target='_blank')
                                i.bx.bxl-telegram

                .artwork-left
                    .artwork-img.img
                        img#artwork-img(src='/img/artwork-demo.jpg' alt='')
                .artwork-right
                    .right-top
                        .artwork-tag 
                            .category-tag Nature 
                            .premium-tag Premium
                            .price-tag $20
                        .artwork-info
                            a#author-link(href='#')
                                .author-img.img
                                    img(src='' alt='')
                            p#description
                                a.author-name(href='') 
                            p.publishdate
                    .right-center

                    .right-bottom
                        .buttons-block
                            p#reactions
                            button#react.artwork-btn.btn
                                li.bx.bx-heart
                            button#inreact.artwork-btn.btn
                                i.bx.bxs-heart
                            button#share.artwork-btn.btn
                                i.bx.bx-share
                            button#favor.artwork-btn.btn
                                i.bx.bx-archive-in
                            button#unfavor.artwork-btn.btn
                                i.bx.bx-archive-out
                            button#addcart.artwork-btn.btn
                                i.bx.bx-cart-add
                            button#download.artwork-btn.btn
                                i.bx.bx-download
                        .comment-form-block
                            form.comment-form
                                input#comment(name='comment' required placeholder='Write a comment')
                                input(type='submit' value='Send')
        include ./layout/footer.layout.pug

        script(src="/js/style-sidebar.js") 
        script(src="/bundle.js") 
        script(type="module" src="/js/artworkdetail.js") 