doctype html
head
    meta(charset='UTF-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1' name='viewport')
    meta(content='Page description' name='description')
    meta(name='google' content='notranslate')
    meta(name='msapplication-tap-highlight' content='no')
    link(rel="icon" type="image/x-icon" href="../img/logo-no-text.png")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    title Homepage
body 
    include ./layout/sidebar.layout.pug
    section#content
        include ./layout/header.layout.pug
        main#cart 
            .container
                .cart-item-header
                    h1 Your Cart
                .cart-item-list
                    .cart-item-block
                        .cart-item-img.img
                            img(src='../img/artwork-demo.jpg' alt='')
                        .cart-item-info
                            .cart-item-title
                                h3 Artwork Title
                            .cart-item-price
                                p $20
                            .cart-item-remove
                                button
                                    i.bx.bx-trash
                    .cart-item-block
                        .cart-item-img.img
                            img(src='../img/artwork-demo.jpg' alt='')
                        .cart-item-info
                            .cart-item-title
                                h3 Artwork Title
                            .cart-item-price
                                p $20
                            .cart-item-remove
                                button
                                    i.bx.bx-trash
                    .cart-item-block
                        .cart-item-img.img
                            img(src='../img/artwork-demo.jpg' alt='')
                        .cart-item-info
                            .cart-item-title
                                h3 Artwork Title
                            .cart-item-price
                                p $20
                            .cart-item-remove
                                button 
                                    i.bx.bx-trash
                .cart-total
                    .cart-total-info
                        p.text Total: 
                        p.price $60
                    .cart-total-checkout
                        button Checkout
        include ./layout/footer.layout.pug

    script(src="../js/style-sidebar.js") 
    script(src="../bundle.js") 
    script(type="module" src="/js/cart.js") 