doctype html
head
    meta(charset='UTF-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    meta(content='width=device-width,initial-scale=1' name='viewport')
    meta(content='Page description' name='description')
    meta(name='google' content='notranslate')
    meta(name='msapplication-tap-highlight' content='no')
    link(rel="icon" type="image/x-icon" href="../img/logo-no-text.png")
    link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
    title Profile
body 
    include ./layout/sidebar.layout.pug
    section#content
        include ./layout/header.layout.pug
        main#profile
            #account-info
                .account-img.img
                    img(src='../img/user.png' alt='')
                .account-name Jolie
                .account-bio vous &ecirc;tes ma famille
                .account-follow
                    #account--follower
                        p.follow-text.followers 100 followers
                    #account-followings
                        p.follow-text.followings 100 followings
                ul.account-btn-list
                    li.account-list-item
                        button#btn-follow.account-btn.btn Follow
                    li.account-list-item
                        button#btn-unfollow.account-btn.btn Unfollow
                    li.account-list-item
                        button#btn-request.account-btn.btn Send Request
                    li.account-list-item
                        button#btn-publish.account-btn.btn Publish Artwork
                    li.account-list-item
                        button#btn-update.account-btn.btn Update Information
                h3 About Information
                    .about-block
                        .info-block
                            h3 Role
                            p.role Creator
                        .info-block
                            h3 Phone
                            p.phone 0123456789
                        .info-block
                            h3 Email
                            p.email ngocngocthuc@gmail.com
                        .info-block
                            h3 Address
                            p.address Long Thanh My, Thuc Duc, TP.HCM
        main#artwork 
            p.title Your Artworks
                .card-holder
        include ./layout/footer.layout.pug
    script(src="/js/style-sidebar.js") 
    script(src="/bundle.js") 
    script(type="module" src="/js/profile.js") 