doctype html
head
  meta(charset='UTF-8')
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  meta(content='width=device-width,initial-scale=1' name='viewport')
  meta(content='Page description' name='description')
  meta(name='google' content='notranslate')
  meta(name='msapplication-tap-highlight' content='no')
  link(rel="icon" type="image/x-icon" href="../img/logo-no-text.png")
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  title Signup
body  
  #assign
    .background 
      img(src="../img/artwork-bg.jpg")
    .container
      .login-header
        h1 Welcome to OnlyArts
        p Please sign up to continue
      form.login-form(action='' autocomplete='off')
        .form-item
          label(for='firstName') Firstname
          input#firstName(type='text' name='firstName' placeholder='Your fisrtname' required)
        .form-item
          label(for='lastName') Lastname
          input#lastName(type='text' name='lastName' placeholder='Your lastname' required)
        .form-item
          label(for='email') Email
          input#email(type='email' name='email' placeholder='example@email.com' required)
        .form-item
          label(for='password') Password
          input#password.pass-key(type='password' name='password' placeholder='Password' required='')
          img#eyeicon.password-toggle(src='../img/eye-close.png')
        .form-item
          label(for='confirm') Confirm password
          input#confirm(type='password' name='confirm' placeholder='Confirm password' required)
        .form-item
          label(for='role') Role
          select#role(name='role' required='')
            option(value='CT') Audience
            option(value='CR') Creator
        #login-error-message
        button(type='submit') Create account
      .login-footer
        .link
          .forgot
            a(href='#') Forgot password?
          .sign-up
            p Already had an account?
            a(href='/login') Login
  script(src="../js/style-assign.js") 
  script(src="../bundle.js") 
  script(type="module" src="/js/signup.js") 