body 
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  include ./pages/layout/sidebar.layout.pug
  section#content
    include ./pages/layout/header.layout.pug
    main#home
//- TỔNG JS
