//- TỔNG
doctype html
head
  //- meta(charset='UTF-8')
  //- meta(content='IE=edge' http-equiv='X-UA-Compatible')
  //- meta(content='width=device-width,initial-scale=1' name='viewport')
  //- meta(content='Page description' name='description')
  //- meta(name='google' content='notranslate')
  //- meta(name='msapplication-tap-highlight' content='no')
  //- link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  //- link(rel="stylesheet",type="text/css", href="./assets/stylesheets/base.css")
  //- link(rel="stylesheet", href="./assets/stylesheets/sidebar.css")
  //- link(rel="stylesheet", href="./assets/stylesheets/home.css")
  //- link(rel="stylesheet", href="./assets/stylesheets/card.css")
  //- title OnlyArts
  //- script(src='./js/content-load.js')
  //- script(src='./js/style.js')
section#sidebar
section#content
  nav#header
  main#artworks
    .card-holder
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/01.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor 
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/25.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/23.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/16.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/17.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/20.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/28.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
      .card
        a.product-block(href='#')
          .card-img.img
            img(src='./assets/images/27.jpg' alt='')
          .product-info
            button.favor-btn(data-id='1')
              i.bx.bx-archive-in
              |                   Favor
            p.product-bottom Product name
        .creator-block
          a.creator-link(href='#') Owner name
          .reaction
            i.bx.bxs-heart
            p.reaction-count 100
script(type='module' src='./assets/js/home.js')
//- TỔNG JS
