#artworkdetail {
    width: 100%;
    height: calc(100vh - 56px);
    padding: 2rem;



    .artwork-block {
        border-radius: 2rem;
        overflow: hidden;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        @include darkshadow(0.1);
        position: relative;

        .artwork-popup {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            backdrop-filter: blur(3px);

            .popup-block {
                width: 40rem;
                height: fit-content;
                background-color: $white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 4rem;
                border-radius: 1rem;
                @include darkshadow(0.1);

                .popup-close {
                    display: block;
                    font-size: 4rem;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: transparent;
                    color: $dark-grey;
                    border: none;
                    cursor: pointer;
                    outline: none;
                }

                .artwork-popup-top {
                    @include flex;
                    border: 1px solid $black;
                    border-radius: .5rem;
                    overflow: hidden;
                    ;

                    #link-to-artwork {
                        display: block;
                        width: 100%;
                        font-size: 2rem;
                        border: none;
                        background-color: $white;
                        padding: 1rem;
                        padding: .5rem;
                        color: $dark-grey;
                        outline: none;
                    }

                    #link-copy {
                        display: block;
                        font-size: 2.5rem;
                        padding: .5rem;
                        color: $dark-grey;
                        background-color: $grey;
                        outline: none;
                        border: none;
                        border-left: 1px solid $black;
                        cursor: pointer;
                    }
                }

                .artwork-popup-bottom {
                    @include flex(space-around, center, row);
                    width: 100%;
                    padding: 1.5rem 1rem;
                    padding-bottom: 0;

                    .popup-share-btn {
                        display: block;
                        width: 4rem;
                        height: 4rem;
                        font-size: 3rem;
                        border-radius: 50%;
                        text-align: center;
                    }

                    #share-to-fb-btn {
                        color: $white;
                        background-color: $facebook;
                    }

                    #share-to-twitter-btn {
                        color: $white;
                        background-color: $twitter;
                    }

                    #share-to-pinterest-btn {
                        color: $white;
                        background-color: $pinterest;
                    }

                    #share-to-instagram-btn {
                        color: $white;
                        background: $instagram;
                    }

                    #share-to-telegram-btn {
                        color: $white;
                        background-color: $telegram;
                    }
                }
            }
        }

        .artwork-left {
            height: 100%;

            .artwork-img {
                height: 100%;
                width: auto;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .artwork-right {
            display: block;
            width: 500px;
            height: 100%;
            background-color: $white;
            padding: 1rem;
            color: $black;
            position: relative;

            .right-top {
                width: 100%;

                .artwork-info {
                    padding-top: 1rem;
                    display: flex;
                    width: 100%;
                    height: fit-content;
                    padding-bottom: 2.5rem;
                    position: relative;
                    flex-wrap: wrap;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        opacity: 0.1;
                        left: -1rem;
                        height: 1px;
                        width: calc(100% + 2rem);
                        background-color: $black;
                    }

                    #author-link {
                        display: block;
                        width: 40px;
                        height: 3rem;
                    }

                    .author-img {
                        width: 3rem;
                        height: 3rem;
                        margin-right: 1rem;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    #description {
                        display: block;
                        text-align: justify;
                        font-size: 1.4rem;
                        padding-right: 1rem;
                        width: calc(100% - 4rem);

                        .author-name {
                            color: $black;
                            font-weight: 500;
                        }
                    }

                    .publishdate {
                        display: block;
                        width: 100%;
                        padding-left: 4rem;
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }
            }

            .right-center {
                width: 100%;
                margin-top: 2.5rem;
                height: calc(100% - 12.5rem);
                overflow: scroll;
                padding-bottom: 11.6rem;

                &::-webkit-scrollbar {
                    display: none;
                }

                .comment-block {
                    display: flex;
                    width: 100%;
                    height: fit-content;
                    padding-bottom: 2.5rem;
                    position: relative;
                    flex-wrap: wrap;

                    .commenter-link {
                        display: block;
                        width: 40px;
                        height: 3rem;
                    }

                    .commenter-img {
                        width: 3rem;
                        height: 3rem;
                        margin-right: 1rem;
                    }

                    #description {
                        display: block;
                        width: calc(100%);
                        text-align: justify;
                        font-size: 1.4rem;
                        padding-right: 2rem;

                        .commenter-name {
                            color: $black;
                            font-weight: 500;
                            padding-right: 1rem;
                        }
                    }

                    .comment-time {
                        display: block;
                        width: 100%;
                        padding-top: 1rem;
                        padding-left: 1rem;
                        font-size: 1.2rem;
                        font-weight: 300;
                    }
                }
            }

            .right-bottom {
                display: block;
                width: 100%;
                position: absolute;
                top: 100%;
                transform: translateY(-100%);
                background-color: $white;
                z-index: 2;

                &::after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: calc(100% + 4rem);
                    position: absolute;
                    left: -2rem;
                    top: 0;
                    opacity: 0.1;
                    background-color: $black;
                }

                .buttons-block {
                    padding: 0.5rem;
                    padding-bottom: 2rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;

                    .artwork-btn {
                        display: block;
                        font-size: 2.5rem;
                        color: $black;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        margin: 0 0.5rem;
                        cursor: pointer;

                        &:nth-child(2) {
                            color: $red;
                        }
                    }
                }

                .comment-form-block {
                    display: block;
                    width: 100%;
                    height: fit-content;
                    padding-bottom: 1rem;

                    .comment-form {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        #comment {
                            display: block;
                            height: fit-content;
                            padding-bottom: 1rem;
                            font-size: 1.4rem;
                            width: 80%;
                            border: none;
                            background-color: $white;
                            padding-left: 1rem;
                            overflow-y: scroll;
                            outline: none;
                            color: $black;
                            font-family: "Poppins", sans-serif;
                            text-align: justify;

                            &:-webkit-scrollbar {
                                display: none;
                            }

                            &:focus {
                                outline: none;
                                border: none;
                            }
                        }

                        input[type="submit"] {
                            width: 20%;
                            border: none;
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: $blue;
                            background-color: $white;
                            padding: 1rem;
                            cursor: pointer;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}