//import font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//variables với mixins ở trên này
$poppins: 'Poppins',
sans-serif;
$white: #f9f9f9;
$black: #342e37;
$grey: #eee;
$dark-grey: #aaaaaa;
$red: #db504a;
$orange: #fd7238;
$yellow: #ffce26;
$green: #58bc82;
$blue: #3c91e6;
$light-red: #d26466;
$light-orange: #ffe0d3;
$light-yellow: #fff2c6;
$light-green: #8fe388;
$light-blue: #cfe8ff;

@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin darkshadow($opacity: 0.5) {
    box-shadow: 0 0 30px 10px rgba(52, 46, 55, $opacity);
}

@mixin lightshadow($opacity: 0.5) {
    box-shadow: 0 0 30px 10px rgba(249, 249, 249, $opacity);
}

@mixin cardshadow($opacity: 0.5) {
    box-shadow: inset 0px 30px 50px -10px rgba(52, 46, 55, $opacity),
        inset 0px -30px 50px -10px rgba(52, 46, 55, $opacity);
}

//import các file scss vào đây
// ví dụ: @import 'component/component1.scss';
@import 'component/sidebar.scss';
@import 'component/header.scss';
@import 'component/login.scss';

//khúc này là reset css thằng nào cũng có


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}




body {
    font-family: $poppins;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $black;
    background-color: $white;
    @include flex(center, flex-start, row);
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $blue;
    }
}